body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    font-family: 'Play', sans-serif;
    background-color: #f3f4f6;
}

#body-wrapper {
    width: 80%;
}

#body-wrapper-rates, 
#body-wrapper-graphs {
    display: flex;
    justify-content: space-between;
}

#body-wrapper-rates > div,
#body-wrapper-graphs > div {
    position: relative;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#body-wrapper-rates > div {
    padding-bottom: 50px;
}

#percentage-icon,
    #dollar-sign {
        position: relative;
        display: inline;
        font-size: 17px;
        vertical-align: top;
        top: 5px;
}

#data {
    font-size: 50px;
    font-weight: 1000;
}

#percentage {
    font-size: 26px;
    color: #7cac72;
}

#previous {
    font-size: 10px;
    color: #a3a3a3;
    padding-top: 15px;
}

#body-wrapper-rates-view-chart-referral,
#body-wrapper-rates-view-chart-direct,
#body-wrapper-rates-view-chart-organic-search{
    font-size: 12px;
    position: relative;
}

#body-wrapper-rates-view-chart-referral {
    top: 45%;
    left: -70px;
}

#body-wrapper-rates-view-chart-direct {
    top: 40px;
    left: 40px;
}

#body-wrapper-rates-view-chart-organic-search {
    top: 150px;
    left: 40px;
}

#body-wrapper-rates-view-chart-data {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    background: conic-gradient(#7da1d3 0% 15%, 
                            #81b874 15% 80%,
                            #ffc837 80% 90%,
                            #7da1d3 90% 100%
                            );
}

#body-wrapper-rates-view-chart-data-middle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 25px;
    background-color: white;
    z-index: 1;
}

#body-wrapper-rates > div {
    width: calc((100% / 4) - 10px);
}

#body-wrapper-graphs > div {
    width: calc((100% / 2) - 10px);
}

#body-wrapper-rates-wins-title,
#body-wrapper-rates-trial-title,
#body-wrapper-rates-mrr-title,
#body-wrapper-rates-view-chart-title,
#body-wrapper-graphs-mrr-graph-country-title,
#body-wrapper-graphs-mrr-graph-month-title {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
}

#body-wrapper-rates-wins-data-wrapper,
#body-wrapper-rates-trial-data-wrapper,
#body-wrapper-rates-mrr-data-wrapper,
#body-wrapper-rates-view-chart-data,
#body-wrapper-graphs-mrr-graph-country-data,
#body-wrapper-graphs-mrr-graph-month-data {
    margin-top: 30px;
}

#body-wrapper-graphs-mrr-graph-country-data-y-values{
    color: #ccc;
    font-size: 14px;
    position: absolute;
    top: 30px;
    left: 30px;
    height: 300px;
}

#body-wrapper-graphs-mrr-graph-country-data-y-values > div {
    display: flex;
    left: 0;
    align-items: center;
    margin: 23px 0;
}

#body-wrapper-graphs-mrr-graph-country-data-x-values {
    color: #ccc;
    font-size: 14px;
    display: flex;
    width: 80%;
    justify-content: space-between;
    position: relative;
    left: 70px;
}

#body-wrapper-graphs-mrr-graph-country-data-y-line {
    position: absolute;
    top: 0;
    margin-left: 60px;
    width: 1px;
    height: 343px;
    margin-top: 50px;
    background-color: #ccc;
    transform: translateX(-50%);
}

#body-wrapper-graphs-mrr-graph-country-data-wrapper {
    position: relative;
    display: flex;
    top: 50%;
    left: 53%;
    width: 80%;
    height: 300px;
    transform: translate(-50%, -50%);
}

#body-wrapper-graphs-mrr-graph-country-data-x-line {
    position: absolute;
    top: 82.5%;
    margin-left: 60px;
    width: 80%;
    height: 1px;
    background-color: #ccc;
    transform: translateY(-50%);
}

#body-wrapper-graphs-mrr-graph-country-data-countries{
    display: flex;
    justify-content: space-between;
    width: 60%;
    font-size: 14px;
    position: absolute;
    top: 90%;
    left: 16%;
}

#body-wrapper-graphs-mrr-graph-country-data-countries-us {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f0d3f7;
    align-self: center;
}

#body-wrapper-graphs-mrr-graph-country-data-countries-au {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffcf9d;
    align-self: center;
}

#body-wrapper-graphs-mrr-graph-country-data-countries-ca {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #b6ceee;
    align-self: center;
}

#body-wrapper-graphs-mrr-graph-country-data-countries-uk {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff9737;
    align-self: center;
}

#body-wrapper-graphs-mrr-graph-month-data-y > div {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: #ccc;
    padding: 6px;
}

#body-wrapper-graphs-mrr-graph-month-data-y-value {
    font-size: 14px;
    margin-left: 10px;
}

#body-wrapper-graphs-mrr-graph-month-data-y #line {
    height: 1px;
    background-color: #ccc;
    margin-left: 10px;
    flex-grow: 1;
}

#body-wrapper-graphs-mrr-graph-month-data-x {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-right: 5px;
    width: 90%;
    position: relative;
}

#body-wrapper-graphs-mrr-graph-month-data-x > div {
    display: flex;
    align-items: center;
    color: #ccc;
    font-size: 14px;
    margin: 0 10px;
    padding: 0;
    position: relative;
}

/* Responsive CSS */
@media (max-width: 1310px) {
    #body-wrapper-rates > div {
        width: calc((300vh) / 7);
    }

    #body-wrapper-graphs > div {
        width: calc(100% - 10px);
    }

    #body-wrapper-graphs-mrr-graph-country {
        display: flex;
        height: 435px;
    }

    #body-wrapper-rates {
        flex-wrap: wrap;
    }

    #body-wrapper-graphs {
        flex-wrap: wrap;
    }
}

@media (max-width: 1115px){
    #body-wrapper-rates > div {
        width: calc(100% - 10px);
    }
}