:root {
    --wrapper-width: 85%;
    --max-wrapper-width: 1200px;
    --vertical-align: center;
    --horizontal-align: center;
    --min-height: 100vh;
    --box-rates-width: 18rem;
    --box-radius: 0.5rem;
    --gap: 1rem;
    --box-rates-min-height: 12rem;
    --gap-between-sections: 1rem; 
    --large-circle-size: 8rem; 
    --small-circle-size: 4rem; 
}

html, body {
    height: 100%;
    margin: var(--margin);
    display: flex;
    justify-content: var(--horizontal-align);
    align-items: var(--vertical-align);
    min-height: var(--min-height);
    font-family: 'Play', sans-serif;
    background-color: #f3f4f6;
}

.body-wrapper {
    width: var(--wrapper-width);
    max-width: var(--max-wrapper-width);
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.body-wrapper-rates {
    display: flex;
    gap: var(--gap);
}

.body-wrapper-rates-each-box,
.body-wrapper-rates-view-chart {
    background-color: white;
    min-height: var(--box-rates-min-height);
    width: var(--box-rates-width);
    border-radius: var(--box-radius);
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative; 
}

.body-wrapper-rates-each-box-title,
.body-wrapper-rates-view-chart-title,
.body-wrapper-graphs-mrr-graph-country-title,
.body-wrapper-graphs-mrr-graph-month-title {
    align-self: flex-start;
    margin-bottom: 1rem;
    font-weight: bold;
}

.body-wrapper-rates-each-box-data-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.data {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}

.percentage {
    font-size: 1.5rem;
    color: #7fae89;
}

.percentage-icon {
    font-size: 1rem;
    margin-left: 0.1rem;
    margin-bottom: 0.9rem;
}

.dollar-sign {
    font-size: 1rem;
    margin-right: 0.1rem;
    margin-bottom: 0.9rem;
}

.previous {
    color: #a3a5a8;
    font-size: 0.7rem;
}

.body-wrapper-rates-view-chart-data {
    width: var(--large-circle-size);
    height: var(--large-circle-size);
    background: conic-gradient(#7da1d3 0% 15%, 
                                #81b874 15% 80%,
                                #ffc837 80% 90%,
                                #7da1d3 90% 100%
    );
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.body-wrapper-rates-view-chart-data-middle {
    width: var(--small-circle-size);
    height: var(--small-circle-size);
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.body-wrapper-rates-view-chart-referral,
.body-wrapper-rates-view-chart-direct,
.body-wrapper-rates-view-chart-organic-search {
    position: absolute;
    font-size: 0.7rem;
    color: #a3a5a8;
}

.body-wrapper-rates-view-chart-referral {
    top: 28%; 
    left: 15%;
    transform: translateX(-50%);
}

.body-wrapper-rates-view-chart-direct {
    top: 15%;
    left: 60%;
}

.body-wrapper-rates-view-chart-organic-search {
    top: 82%;
    left: 50%;
}

.body-wrapper-graphs {
    display: flex;
    gap: var(--gap);
    margin-top: var(--gap-between-sections);
}

.body-wrapper-graphs-mrr-graph-country,
.body-wrapper-graphs-mrr-graph-month {
    background-color: white;
    min-height: var(--box-rates-min-height);
    border-radius: var(--box-radius);
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.body-wrapper-graphs-mrr-graph-country-data {
    display: flex;
    width: 100%;
}

.body-wrapper-graphs-mrr-graph-country-data-y-side {
    flex: 0 0 10%;
}

.body-wrapper-graphs-mrr-graph-country-data-y-side > div {
    padding-bottom: 1.2rem;
    color: #ccc;
    font-size: 0.9rem;
}

.body-wrapper-graphs-mrr-graph-country-data-x-side {
    flex: 0 0 90%; 
}

.body-wrapper-graphs-mrr-graph-country-data-wrapper {
    height: 300px;
    min-height: 300px;
    position: relative;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.body-wrapper-graphs-mrr-graph-country-data-x-values {
    display: flex; 
    margin-top: 10px; 
}

.body-wrapper-graphs-mrr-graph-country-data-x-value {
    flex: 1; 
    font-size: 0.9rem;
    color: #ccc;
}

.body-wrapper-graphs-mrr-graph-country-data-countries {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 2rem;
    font-size: 0.7rem;
}

.body-wrapper-graphs-mrr-graph-country-data-countries-us{
    width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background-color: #f0d3f7;
    align-self: center;
}

.body-wrapper-graphs-mrr-graph-country-data-countries-au{
    width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background-color: #ffcf9d;
    align-self: center;
}

.body-wrapper-graphs-mrr-graph-country-data-countries-ca{
    width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background-color: #b6ceee;
    align-self: center;
}

.body-wrapper-graphs-mrr-graph-country-data-countries-uk{
    width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background-color: #ff9737;
    align-self: center;
}

.body-wrapper-graphs-mrr-graph-month-data-y {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.body-wrapper-graphs-mrr-graph-month-data-y > div {
    padding-bottom: 0.8rem;
    color: #ccc;
    display: flex;
    align-items: center;
}

.line {
    height: 1px;
    width: 26.5rem; 
    background-color: #000; 
    margin-left: auto;
    background-color: #ccc;
}

.body-wrapper-graphs-mrr-graph-month-data-x {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin-left: 1.9rem;
}

.body-wrapper-graphs-mrr-graph-month-data-x > div {
    display: flex;
    gap: 1rem;
    color: #ccc;
}

.month {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 1rem;
}

@media (max-width: 1100px) {
    .body-wrapper-rates {
        display: grid; 
        grid-template-columns: calc(60% - var(--gap) / 2) calc(58% - var(--gap) / 2); 
        gap: var(--gap); 
        box-sizing: border-box; 
    }

    .body-wrapper-graphs {
        display: grid; 
        grid-template-columns: 1fr; 
        gap: 20px;
        box-sizing: border-box;
    }

    .body-wrapper-rates-each-box,
    .body-wrapper-rates-view-chart,
    .body-wrapper-graphs-mrr-graph-country,
    .body-wrapper-graphs-mrr-graph-month {
        width: 100%;
        box-sizing: border-box;
    }
}

@media (max-width: 700px) {
    .body-wrapper-rates {
        display: grid;
        grid-template-columns: 1fr; 
        gap: var(--gap); 
        box-sizing: border-box;
        justify-content: center;
    }

    .body-wrapper-graphs {
        display: grid;
        grid-template-columns: 1fr; 
        gap: 20px; 
        box-sizing: border-box;
        justify-content: center;
    }

    .body-wrapper-rates-each-box,
    .body-wrapper-rates-view-chart,
    .body-wrapper-graphs-mrr-graph-country,
    .body-wrapper-graphs-mrr-graph-month {
        width: 100%;
        box-sizing: border-box;
    }
}